[Unit]
Description=monitor process for deletion

[Service]
User=runner
WorkingDirectory=/mnt/runner
ExecStart=/bin/bash -c 'bash ctrl-monitor.sh %i'

[Install]
WantedBy=multi-user.target
